.navbar_component {
    display: flex;
    flex-direction: row;

}

.auth_buttons {
    display: flex;
    flex-direction: column;
}

.buttons {
    border: 0.25rem solid orange;
    background-color: orange;
    margin: 0.25rem;
}
